@import "../../src/styles/variables";
@import "../../src/styles/mixins";

.detail {
  &__grid {
    margin-top: -1.5rem;
  }

  &-info {
    &__org-name {
      font-size: 18px;
      line-height: 21px;
      margin-top: 10px;

      @include mq(767px) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &__data {
      margin-top: 30px;
    }

    &-row {
      display: flex;

      & + & {
        margin-top: 10px;
      }

      &__text {
        margin-left: 20px;
        flex: 1;
        line-height: 25px;
        font-size: 14px;

        a {
          transition: .3s;

          &:hover {
            color: $primary;
          }
        }
      }

      &-phone {
        display: flex;
        max-width: 400px;

        &__label {
          order: 0;
        }

        &__number {
          order: 2;
        }

        &:after {
          content: "";
          display: block;
          flex: 1;
          order: 1;
          height: 1em;
          border-bottom: 1px solid;
          margin: 0 10px;
          transform: translateY(2px);
        }
      }
    }
  }

  &__description {
    font-size: 18px;
    line-height: 27px;

    @include mq(767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-location {
    height: 400px;
    background: #faf7ec;

    @include mq(1023px) {
      height: 250px;
    }
  }

  &-review {
    margin-top: -2rem;
  }
}
