@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  background: $dark;
  padding: 60px 0 30px;
  color: #FFF;
  font-size: 14px;
  line-height: 150%;

  @include mq(767px) {
    padding: 20px 0 10px;

    > .container > .row > [class*=col-] {
      margin: 20px 0;
    }
  }
}
