@import "../../../src/styles/variables";
@import "../../../src/styles/mixins";

.breadcrumbs {
  padding: 30px 0;

  @include mq(767px) {
    padding: 15px 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &-item {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    path {
      fill: #333;
    }

    a, path {
      transition: .3s;
    }

    &:hover {
      color: $primary;

      path {
        fill: $primary;
      }
    }

    &:not(:last-child):after {
      content: '>>';
      margin: 0 8px;
      color: $dark;
    }

    &:last-child {
      color: rgba($dark, .8);
    }

    @include mq(767px) {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }
  }
}
